<div class="container" style="margin-top:50px">
<div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="wrapper wrapper-content">
                <!-- HERE -->
                <div class="card">
	                <div class="card-block">
		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="ibox float-e-margins">
		                            <div class="ibox-title">
		                                <h3>Campaigns lagging in Delivery Performance</h3>
		                            </div>
		                            <div class="ibox-content">
		                                <div class="table-responsive">
		                                    <table class="table table-hover table-bordered">
		                                        <thead>
		                                            <tr>
		                                                <th rowspan="2"></th>
		                                                <th>Campaign</th>
		                                                <th>Partner</th>
		                                                <th>Billable Impressions</th>
		                                                <th>Clicks</th>
		                                                <th>CTR</th>
		                                                <th>Billable Revenue</th>
		                                                <th>Conversions</th>
		                                                <th>CPA</th>
		                                                <th>CPC</th>
		                                                <th>% Yield</th>
		                                                <th>% Delivered</th>
		                                                <th>Ideal Pace</th>
		                                                <th>Revenue Remaining</th>
		                                                <th>Impressions Remaining</th>
		                                                <th>In View / Completion Rate</th>
		                                            </tr>
		                                            <tr>
		                                               <th><input type="text" placeholder="Search" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Search" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                            <tr class="gradeX" class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>ACTHAR 2017</td>
		                                                <td>TTD</td>
		                                                <td class="text-right">3,81,397</td>
		                                                <td class="text-right">224</td>
		                                                <td class="text-right">0.00058%</td>
		                                                <td class="text-right">$3,387.33</td>
		                                                <td class="text-right">150</td>
		                                                <td class="text-right">$22.58</td>
		                                                <td class="text-right">$15.12</td>
		                                                <td class="text-right">0.00039%</td>
		                                                <td class="text-right">25%</td>
		                                                <td class="text-right">62%</td>
		                                                <td class="text-right">$10,620</td>
		                                                <td class="text-right">12,36,732</td>
		                                                <td class="text-right">79%</td>
		                                            </tr>
		                                        </tbody>
	                                            <tbody id="group-of-rows-1" class="collapse">
											        <tr style="background: #E4F1FE">
											        	<td style="visibility: hidden;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
											            <td>- child row</td>
											            <td>data 1</td>
											          	<td class="text-right">data 1</td>  
											            <td class="text-right">data 2</td>
											            <td class="text-right">data 3</td>
											          	<td class="text-right">data 4</td>  
											            <td class="text-right">data 5</td>
											            <td class="text-right">data 6</td>
											          	<td class="text-right">data 7</td>  
											            <td class="text-right">data 8</td>
											            <td class="text-right">data 9</td>
											          	<td class="text-right">data 10</td>  
											            <td class="text-right">data 11</td>
											            <td class="text-right">data 12</td>
											          	<td class="text-right">data 13</td>
											        </tr>
											        <tr style="background: #E4F1FE">
											        	<td style="visibility: hidden;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
											            <td>- child row</td>
											            <td>data 1</td>
											          	<td class="text-right">data 1</td>  
											            <td class="text-right">data 2</td>
											            <td class="text-right">data 3</td>
											          	<td class="text-right">data 4</td>  
											            <td class="text-right">data 5</td>
											            <td class="text-right">data 6</td>
											          	<td class="text-right">data 7</td>  
											            <td class="text-right">data 8</td>
											            <td class="text-right">data 9</td>
											          	<td class="text-right">data 10</td>  
											            <td class="text-right">data 11</td>
											            <td class="text-right">data 12</td>
											          	<td class="text-right">data 13</td>  
											        </tr>
											    </tbody>
												<tbody>
		                                            <tr class="gradeX" class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>NASACORT 2017</td>
		                                                <td>Adobe</td>
		                                                <td class="text-right">2,81,123</td>
		                                                <td class="text-right">361</td>
		                                                <td class="text-right">0.0013%</td>
		                                                <td class="text-right">$2,524.75</td>
		                                                <td class="text-right">167</td>
		                                                <td class="text-right">$15.12</td>
		                                                <td class="text-right">$6.99</td>
		                                                <td class="text-right">0.00059%</td>
		                                                <td class="text-right">23%</td>
		                                                <td class="text-right">62%</td>
		                                                <td class="text-right">$11,423</td>
		                                                <td class="text-right">9,22,978</td>
		                                                <td class="text-right">0%</td>
		                                            </tr>
		                                            </tbody>
		                                            <tbody id="group-of-rows-2" class="collapse">
											        <tr style="background: #E4F1FE">
											        	<td style="visibility: hidden;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
											            <td>- New child row</td>
											            <td>New data 1</td>
											          	<td class="text-right">New data 1</td>  
											            <td class="text-right">New data 2</td>
											            <td class="text-right">New data 3</td>
											          	<td class="text-right">New data 4</td>  
											            <td class="text-right">New data 5</td>
											            <td class="text-right">New data 6</td>
											          	<td class="text-right">New data 7</td>  
											            <td class="text-right">New data 8</td>
											            <td class="text-right">New data 9</td>
											          	<td class="text-right">New data 10</td>  
											            <td class="text-right">New data 11</td>
											            <td class="text-right">New data 12</td>
											          	<td class="text-right">New data 13</td>
											        </tr>
											        <tr style="background: #E4F1FE">
											        	<td style="visibility: hidden;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
											            <td>- New child row</td>
											            <td>New data 1</td>
											          	<td class="text-right">New data 1</td>  
											            <td class="text-right">New data 2</td>
											            <td class="text-right">New data 3</td>
											          	<td class="text-right">New data 4</td>  
											            <td class="text-right">New data 5</td>
											            <td class="text-right">New data 6</td>
											          	<td class="text-right">New data 7</td>  
											            <td class="text-right">New data 8</td>
											            <td class="text-right">New data 9</td>
											          	<td class="text-right">New data 10</td>  
											            <td class="text-right">New data 11</td>
											            <td class="text-right">New data 12</td>
											          	<td class="text-right">New data 13</td>  
											        </tr>
											    </tbody>
											    <tbody>
		                                            <tr class="gradeX">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>BI-Ofev</td>
		                                                <td>TTD</td>
		                                                <td class="text-right">3,74,654</td>
		                                                <td class="text-right">123</td>
		                                                <td class="text-right">0.00033%</td>
		                                                <td class="text-right">$3,776.15</td>
		                                                <td class="text-right">70</td>
		                                                <td class="text-right">$53.945</td>
		                                                <td class="text-right">$30.7</td>
		                                                <td class="text-right">0.00019%</td>
		                                                <td class="text-right">22%</td>
		                                                <td class="text-right">62%</td>
		                                                <td class="text-right">$14,421</td>
		                                                <td class="text-right">13,87,718</td>
		                                                <td class="text-right">39%</td>
		                                            </tr>
		                                            <tr class="gradeX">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>Pfizer - LyricaFM</td>
		                                                <td>TTD</td>
		                                                <td class="text-right">4,04,768</td>
		                                                <td class="text-right">454</td>
		                                                <td class="text-right">0.0011%</td>
		                                                <td class="text-right">$5,925.87</td>
		                                                <td class="text-right">320</td>
		                                                <td class="text-right">$18.51</td>
		                                                <td class="text-right">$13.05</td>
		                                                <td class="text-right">0.00079%</td>
		                                                <td class="text-right">18%</td>
		                                                <td class="text-right">62%</td>
		                                                <td class="text-right">$9,135</td>
		                                                <td class="text-right">11,73,235</td>
		                                                <td class="text-right">68%</td>
		                                            </tr>
		                                            <tr class="gradeX">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>NEXAPLON 2017</td>
		                                                <td>Adobe</td>
		                                                <td class="text-right">2,92,875</td>
		                                                <td class="text-right">432</td>
		                                                <td class="text-right">0.0015%</td>
		                                                <td class="text-right">$1,363.86</td>
		                                                <td class="text-right">298</td>
		                                                <td class="text-right">$4.58</td>
		                                                <td class="text-right">$3.16</td>
		                                                <td class="text-right">0.00101%</td>
		                                                <td class="text-right">26%</td>
		                                                <td class="text-right">62%</td>
		                                                <td class="text-right">$9,986</td>
		                                                <td class="text-right">12,39,236</td>
		                                                <td class="text-right">80%</td>
		                                            </tr>
		                                        </tbody>
		                                        <tfoot>
		                                            <tr>
		                                                <th></th>
		                                                <th></th>
		                                                <th></th>
		                                                <th class="text-right">17,34,817</th>
		                                                <th class="text-right">1,594</th>
		                                                <th class="text-right">0.00092%</th>
		                                                <th class="text-right">$16,977.96</th>
		                                                <th class="text-right">1,005</th>
		                                                <th class="text-right">$16.89</th>
		                                                <th class="text-right">$10.65</th>
		                                                <th class="text-right">0.00058%</th>
		                                                <th class="text-right">24%</th>
		                                                <th class="text-right">62%</th>
		                                                <th class="text-right">$53,987</th>
		                                                <th class="text-right">59,68,982</th>
		                                                <th class="text-right">62%</th>
		                                            </tr>
		                                        </tfoot>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	                </div>
                </div>
                <div class="card" style="margin:30px 0px">
	                <div class="card-block">
		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="ibox float-e-margins">
		                            <div class="ibox-title">
		                                <h3>Campaigns lagging in Delivery Performance from JSON</h3>
		                            </div>
		                            <div class="ibox-content">
		                                <div class="table-responsive">
		                                    <table class="table table-hover table-bordered">
		                                        <thead>
		                                            <tr>
		                                                <th rowspan="2"></th>
		                                                <th>Campaign</th>
		                                                <th>Partner</th>
		                                                <th>Billable Impressions</th>
		                                                <th>Clicks</th>
		                                                <th>CTR</th>
		                                                <th>Billable Revenue</th>
		                                                <th>Conversions</th>
		                                                <th>CPA</th>
		                                                <th>CPC</th>
		                                                <th>% Yield</th>
		                                                <th>% Delivered</th>
		                                                <th>Ideal Pace</th>
		                                                <th>Revenue Remaining</th>
		                                                <th>Impressions Remaining</th>
		                                                <th>In View / Completion Rate</th>
		                                            </tr>
		                                            <tr>
		                                               <th><input type="text" placeholder="Search" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Search" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                               <th><input type="text" placeholder="Threshold" name="tableHeader" class="form-control" style="width: 10rem" /></th>
		                                            </tr>
		                                        </thead>
		                                        <tbody  *ngFor="let displaydata of tabledata.parentdata">
		                                            <tr class="gradeX">
		                                                <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                <td>{{displaydata.campaign}}</td>
		                                                <td>{{displaydata.Partner}}</td>
		                                                <td class="text-right">{{displaydata.BillableImpressions}}</td>
		                                                <td class="text-right">{{displaydata.Clicks}}</td>
		                                                <td class="text-right">{{displaydata.CTR}}</td>
		                                                <td class="text-right">{{displaydata.BillableRevenue}}</td>
		                                                <td class="text-right">{{displaydata.Conversions}}</td>
		                                                <td class="text-right">{{displaydata.CPA}}</td>
		                                                <td class="text-right">{{displaydata.CPC}}</td>
		                                                <td class="text-right">{{displaydata.Yield}}</td>
		                                                <td class="text-right">{{displaydata.Delivered}}</td>
		                                                <td class="text-right">{{displaydata.IdealPace}}</td>
		                                                <td class="text-right">{{displaydata.RevenueRemaining}}</td>
		                                                <td class="text-right">{{displaydata.ImpressionsRemaining}}</td>
		                                                <td class="text-right">{{displaydata.InView}}</td>
		                                            </tr>
		                                            <tr *ngFor="let child of displaydata.childData">
		                                            	<td style="visibility: hidden;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></td>
		                                                	<td>{{child.c1}}</td>
		                                                	<td>{{child.c2}}</td>
		                                                	<td>{{child.c3}}</td>
		                                                	<td>{{child.c4}}</td>
		                                                	<td>{{child.c5}}</td>
		                                                	<td>{{child.c6}}</td>
		                                                	<td>{{child.c7}}</td>
		                                                	<td>{{child.c8}}</td>
		                                                	<td>{{child.c9}}</td>
		                                                	<td>{{child.c10}}</td>
		                                                	<td>{{child.c11}}</td>
		                                                	<td>{{child.c12}}</td>
		                                                	<td>{{child.c13}}</td>
		                                                </tr>
		                                        </tbody>
		                                    </table>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	                </div>
                </div>
        	</div>
    	</div>
    </div>
</div>